@model SampleProject_BusinessEntities.Users

@{
    ViewBag.Title = "UpdateProfile";
}

<h2>Edit_Profile</h2>
@using (Html.BeginForm(new { @id = "frmEdit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.HiddenFor(model => model.User_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @id = "txtMobile" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @id = "txtDob" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StateID, @ViewBag.States as SelectList, "Select State", new { @class = "form-control", @id = "ddlState" })
                @Html.ValidationMessageFor(model => model.StateID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CityID, @ViewBag.Cities as SelectList, "Select city", new { @class = "form-control", @id = "ddlCity" })
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <span id="sucMsg" class="success"></span>
            <span id="Error" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnSubmit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
        
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script type="text/jscript">

        $('#ddlState').change(function () {
            // alert();
            $.getJSON('/Shared/CityList/' + $('#ddlState').val(), function (data) {
                var items = '<option>Select a City</option>';
                $.each(data, function (i, city) {
                    //alert(city);
                    items += "<option value='" + city.Value + "'>" + city.Text + "</option>";
                });
                $('#ddlCity').html(items);

            });
        });
        $("#DOB").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '-115:+1M',
            maxDate: new Date(),
        }).on('change', function () {
            var selYear = new Date($(this).val()).getFullYear(); // get the full year of selected date
            var currYear = new Date().getFullYear(); // get the current year
            //alert(currYear - selYear);
            if ((currYear - selYear) < 20) {
                //alert("error");
                $("#display_error").show();
                $("#display_error").text('please select valid date');
            }
            else {
                $("#display_error").hide();
            }
        });

        $('#btnSubmit').click(function () {
            alert();
            //ajax for post data
            $.ajax({
                url: "@Url.Action("UpdateProfile","Employee")",
                type: "post",
                data: $('frmEdit').serialize(),
                datatype: JSON,
                success: function (result) {
                    if (result == 'sucMsg') {
                        $('#sucMsg').text('sucessfully updated')
                    }
                    else if (result == 'Error') {
                        $('#Error').text('Failed')
                    }
                }
            });
        });
    </script>
}
